<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List All Users</title>
</head>
<body>

<table border="2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Registration Time</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="user : ${allUsers}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.registrationTime}"></td>
            <td th:text="${user.role.roleName}"></td>
            <td>
                <form th:action="@{./deleteUser/}" method="post" th:object="${userForm}">
                    <input type="hidden" name="id" th:value="${user.id}"/>
                    <button type="submit">Delete!</button>
                </form>

                <form th:action="@{./updateUser/}" method="get" th:object="${userForm}">
                    <input type="hidden" name="id" th:value="${user.id}"/>
                    <button type="submit">Update!</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>

<h2>Search User</h2>
<form th:action="@{./searchUser/}" method="get">
    <input type="text" name="search"/>
    <button type="submit">Search!</button>
</form>

<h2>Create New User</h2>
<form th:action="@{./createUser/}" method="post" th:object="${newUser}">
    <input type="text" th:field="*{id}" placeholder="Enter ID">
    <input type="text" th:field="*{name}" placeholder="Enter name"/>
    <input type="text" th:field="*{lastName}" placeholder="Enter last name"/>
    <select th:field="*{role}">
        <option th:each="role : ${allRoles}" th:value="${role.roleId}" th:text="${role.roleName}"></option>
    </select>

    <button type="submit">Create User</button>

</form>

</body>
</html>